@import "_variables";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 2rem;
  width: 200px;
  height: 150px;
  background-color: white;
  border: 1px black solid;
  border-radius: 5px;

  img {
    width: 100px;
    border-radius: 50%;
  }
  .member-name {
    text-align: center;
  }

  @media screen and (max-width: $breakpoint-small) {
    border-style: none;
    flex-direction: row;
    width: 100%;
    border-radius: 1px;
    justify-content: flex-start;
    gap: 2rem;
  }
}
